.tituloModalM {
    color: #000080;
    padding: 1px;
    font-weight: bold;
    margin-top: 2px;
    width: max-content;
}
.putLeft {
    float: left !important;
    margin-block-start: 2%;
}

.dvContentTitMod {
    border-bottom: 2px solid #000080;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: min-content;
}

.modalMargin{
    margin-top: 1%;
}

.textalinaer{
    text-align: justify;
}