<div class="row">
  <div class="col s12 m3">
    <a (click)="openSlideNav()" class="hide-on-med-and-up btn-floating btn-large waves-effect waves-light fondo-ocda"><i
        class="material-icons">menu</i></a>
    <ul id="slide-out" class="sidenav sidenav-fixed" #sideNav>
      <li class="fondo-ocda white-text">
        <div class="header center-align fondo-ocda">
          <h3 class="truncate">Bienvenido</h3>
          <p>Sistema de Gestion Administrativa Unas</p>
        </div>
      </li>
      <div class="divider"></div>
      <li>
        <div class="user-view black-text">
          <div class="row">
            <div class="col s12 m6 push-m3">
              <a><img class="circle responsive-img" src="../../assets/UsuarioDefecto/user-defect.jpg"></a>
            </div>
            <mat-form-field>
              <input matInput placeholder="Input">
            </mat-form-field>
          </div>
        </div>
      </li>
      <li class="no-padding">
        <ul class="collapsible">
          <li class="active">
            <div class="collapsible-header">Datos Personales </div>
            <div class="collapsible-body">
              <aside class="sidebar">
                <div class="single contact-info">
                  <h3 class="side-title"></h3>
                  <ul class="list-unstyled">
                    <li>
                      <div class="icon"><i class="fa fa-address-card"></i></div>
                      <div class="info">
                        <p>47253956</p>
                      </div>
                    </li>

                    <li>
                      <div class="icon"><i class="fa fa-user"></i></div>
                      <div class="info">
                        <p>Franklin Mijahuanca López</p>
                      </div>
                    </li>

                    <li>
                      <div class="icon"><i class="fa fa-phone"></i></div>
                      <div class="info">
                        <p>969 050 796</p>
                      </div>
                    </li>

                    <li>
                      <div class="icon"><i class="fa fa-envelope"></i></div>
                      <div class="info">
                        <p>frankiln.mijahuanca@sigau.edu.pe</p>
                      </div>
                    </li>
                  </ul>
                </div>
              </aside>

            </div>
          </li>
          <li>
            <div appNavegacion>


            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="col s12 m9">
    <div class="col s12 m9 offset-m3 ">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
