<div class="row">
  <div class="col s12 m3">
    <a (click)="openSlideNav()" class="hide-on-med-and-up btn-floating btn-large waves-effect waves-light fondo-ocda"><i
        class="material-icons">menu</i></a>
    <ul id="slide-out" class="hide-on-med-and-down" #sideNav>
      <div class="header center-align">
        <h1 class="truncate">Bienvenido</h1>
        <p>Sistema de Gestion Administrativa Unas</p>
      </div>
      <div class="divider"></div>

      <li>
        <div class="user-view black-text">
          <div class="row">
            <div class="col m6 push-m3">
              <a><img class="circle responsive-img" src="../../assets/UsuarioDefecto/user-defect.jpg"></a>
            </div>
          </div>

          <a class="black-text display_block"><span class="name">
              <i class="material-icons">
                person
              </i>
              ANTONY INGA ATUNGA </span></a>
          <a class="black-text display_block"><span class="email">
              <i class="material-icons">
                mail
              </i> ANTONY.INGA@gmail.com</span></a>
          <a class="black-text display_block"><span class="email">
              <i class="material-icons">
                phone
              </i> 948648316</span></a>
          <a class="black-text display_block"><span class="email">
              <i class="fas fa-id-card material-icons"></i>
              71837677</span></a>
        </div>
      </li>
    </ul>
  </div>
  <div class="col s12 m9 teal lighten-5 ">
    <router-outlet></router-outlet>
  </div>
</div>
