.contorno {
    margin: 30px 0px 10px 20px;
}

.title {
  font-weight:bold;
  font-size: x-large
}

.div_container_child{
  padding: 10px;
}

.position_bottom{
  position: relative;
  top: 60px;
  left: 45px;
}

.bottom_margin{
  margin: 2px;
}

.padding_top{
  padding-top: 20px;
}

.margin_estudiosSuperiores{
margin: 20px;
}

