<div class="login-screen ">
    <particles [params]="params" [style]="style " [width]="width" [height]="height"></particles>

</div>
<div class="login-center">
    <div class="row">
        <div class="col s12 m3 offset-m1 register-right">
            <img src="../../assets/LogoSigau/logosigauPrincipal1.png"
                class="materialboxed responsive-img imge-principal" alt="">

        </div>
        <div class="col s12 m4 offset-m3 register-left ">
            <div class="row">
                <div class="col s12 m12">
                    <div class="card  cardlogin transparent">
                        <div class="card-content">
                            <div class="front signin_form">
                                <h6 style="color:#ffffff ; text-align: center">Ingrese su cuenta </h6>
                                <form class="login-form">
                                    <div class="row">
                                        <form class="col s12">
                                            <div class="row">
                                                <div class="input-field col s12 colorIconsLogin">
                                                    <div class="example-container">
                                                        <mat-form-field>
                                                            <input matInput placeholder="Escribe tu email"
                                                                [formControl]="email" required>
                                                            <!--  <mat-error *ngIf="email.invalid">
                                                                {{getErrorMessage()}}</mat-error>  -->
                                                            <mat-icon class="colorIconsLogin" matSuffix>person
                                                            </mat-icon>
                                                            <!-- <mat-hint>email institucional</mat-hint> -->
                                                        </mat-form-field>
                                                    </div>
                                                </div>

                                                <div class="input-field col s12 colorIconsLogin">
                                                    <p></p>
                                                    <div class="example-container">
                                                        <mat-form-field>
                                                            <input matInput placeholder="Escribe tu password"
                                                                [type]="hide ? 'password' : 'text'">
                                                            <mat-icon class="colorIconsLogin" matSuffix
                                                                (click)="hide = !hide">
                                                                {{hide ? 'lock' : 'lock_open'}}
                                                            </mat-icon>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="checkbox right-align colorIconsLogin">
                                                <mat-checkbox> Recuerdame la proxima vez.</mat-checkbox>
                                            </div>

                                            <div class="form-group sign-btn right-align">
                                                <h1></h1>
                                                <a class="waves-effect waves-light btn  light-blue darken-4"
                                                    style="color:white"
                                                    [routerLink]="['../principal','usuario','1','modulos']"
                                                    routerLinkActive="router-link-active">
                                                    Iniciar sesión
                                                </a>
                                            </div>
                                        </form>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>