html,
body {
  height: 100%;
  width: 100%;
}

.main {
  position: relative;
}

a {
  color: #1b5a7c;
}

a:hover,
a:focus {
  color: #1b5a7c;
}

.min-height {
  min-height: 380px;
}

.login-screen {
  background-image: url(../../assets/FondoSigau/fondopp.jpg);
  //background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.login-screen:before {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.imge-principal {
  opacity: 9;
  width: 90%;
  text-align: center;
}

footer {
  bottom: 0;
  z-index: 10;
  color: white;
  width: 100%;
  text-align: center;
  left: 0;
}

img {
  vertical-align: middle;
  border-style: none;
}

footer img {
  margin-right: .5em;
}

.unas-logo{
  width: 3%;
}

.cardlogin {
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  border: 3px solid #a6a6a4;
  color: black;
}
.label {
  color: #fff;
}
.centrado{
  display: flex;
  justify-content: center;
}
.register-right {
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
  margin-top: 4%;
}

.login_margin {
  margin-top: 4%;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

::ng-deep .mat-form-field-underline .mat-form-field-ripple {
  color: #c0c0c0 !important;
  background-color: #c0c0c0 !important;
}

::ng-deep .mat-form-field-underline {
  color: #c0c0c0 !important;
  background-color: #c0c0c0 !important;
}
input label {
  color: #ffffff !important;
}

.colorIconsLogin {
  color: #ffffff;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  transform: perspective(100px);
  -ms-transform: none;
  color: #9e9e9e;
}

.colorcredenciales {
  color: #0080ff;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  -webkit-transform: perspective(100px);
  transform: perspective(100px);
  -ms-transform: none;
  color: #c0c0c0;
}

::ng-deep .mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: #01579b;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #01579b;
}

::ng-deep .mat-checkbox-checkmark-path {
  stroke-dashoffset: 0 !important;
  stroke-dasharray: initial;
  stroke-width: initial !important;
}

::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: #01579b;
}

::ng-deep .mat-form-field-invalid .mat-input-element {
  caret-color: #01579b;
}

::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label .mat-form-field-required-marker {
  color: #01579b;
}

::ng-deep .mat-focused .mat-form-field-required-marker {
  color: #01579b;
}
