<div class="login-screen ">
    <particles [params]="params" [style]="style " [width]="width" [height]="height"></particles>
</div>
<div class="login-center">
    <div class="container min-height" style="margin-top: 20px;">
        <div class="row">
            <div class="col s12 m8 ">
                <img src="../../assets/LogoSigau/logoLogin.png" class="materialboxed responsive-img" alt="">
            </div>
            <div class="col s12 m4 ">
                <div class="col l4 offset-m8">
                    <div class="col l4 offset-m8">
                        <div class="login" id="card">
                            <div class="front signin_form" class="materialboxed">
                                <p><b>Ingrese su cuenta</b></p>
                                <form class="login-form">
                                    <div class="row">
                                        <form class="col s12">
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input id="email" type="email" class="validate">
                                                    <label for="email">Ingrese su email</label>
                                                    <i class="material-icons prefix">person</i>
                                                    <span class="helper-text" data-error="ingrese un email válido"
                                                        data-success="right">Helper text</span>
                                                </div>
                                                <div class="input-field col s12">
                                                    <input id="password" type="password" class="validate">
                                                    <label for="password">Password</label>
                                                    <i class="material-icons prefix">lock</i>
                                                </div>
                                            </div>
                                            <div class="checkbox">
                                                <p>
                                                    <label>
                                                        <input type="checkbox" class="filled-in" checked="checked" />
                                                        <span>Recuerdame la proxima vez.</span>
                                                    </label>
                                                </p>
                                            </div>

                                            <div class="form-group sign-btn">
                                                <a class="waves-effect waves-light btn" style="color:white"
                                                    [routerLink]="['../principal','usuario','1','modulos']"
                                                    routerLinkActive="router-link-active">
                                                    Iniciar sesión
                                                </a>
                                            </div>
                                        </form>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
   