<div class="login-screen ">
    <particles [params]="params" [style]="style " [width]="width" [height]="height"></particles>
</div>

<div class="tile">
    <div class="tile-header">
        <h2
            style="color: white; opacity: 1; font-size: 4rem; display: flex; justify-content: center; align-items: center; height: 100%; margin-top: 20px">
            <img src="../../assets/LogoSigau/logo sigau.png" class="materialboxed responsive-img imge-principal" alt="">
        </h2>
    </div>

    <div class="tile-body">
        <form id="form">
            <label class="form-input">
                <i class="material-icons">person</i>
                <input type="text" autofocus="true" required />
                <span class="label">Email</span>
                <span class="underline"></span>
            </label>

            <label class="form-input">
                <i class="material-icons">lock</i>
                <input type="password" required />
                <span class="label">Password</span>
                <div class="underline"></div>
            </label>

            <div class="submit-container clearfix right-align" style="margin-top: 2rem;">
                <div id="submit" role="button" type="button" class="waves-effect waves-light btn  light-blue darken-4"
                    tabindex="0" [routerLink]="['../principal','usuario','1','modulos']"
                    routerLinkActive="router-link-active">
                    <span>INICIAR SESIÓN</span>
                </div>

                <div class="login-pending">
                    <div class=spinner>
                        <span class="dot1"></span>
                        <span class="dot2"></span>
                    </div>

                    <div class="login-granted-content">
                        <i class="material-icons">done</i>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!--
<div class="container">
    <div class="middle">
        <div id="login">

            <form action="javascript:void(0);" method="get">
                <fieldset class="clearfix">
                    <p><span class="fa fa-user"></span><input type="text" Placeholder="Username" required></p>
                    
                    <p><span class="fa fa-lock"></span><input type="password" Placeholder="Password" required></p>
                  
                    <div>
                        <span style="width:48%; text-align:left;  display: inline-block;">
                            <mat-checkbox> Recuerdame.</mat-checkbox>
                        </span>
                        <span style="width:38%; text-align:right;  display: inline-block;"><input type="submit"
                                value="Sign In" [routerLink]="['../principal','usuario','1','modulos']"
                                routerLinkActive="router-link-active"></span>
                    </div>
                </fieldset>
                <div class="clearfix"></div>
            </form>
            <div class="clearfix"></div>
        </div> 
        <div class="logo">SIGAU
            <div class="clearfix"></div>
        </div> 
    </div>
</div>
-->

<div class="row">
    <div class="col s12 m6 ">
        <footer class="footer--visa right-align" style="opacity: 0.75;">
            <p class=""> <img src="../../assets/Logo UNAS/UNAS-LOGO.png" alt="" class="unas-logo">Copyright
                <a href="https://www.unas.edu.pe/web/" target="_blank">UNAS</a> © 2019 Universidad Nacional Agraria de
                la Selva.
            </p>
        </footer>
    </div>
</div>