<div class="row">
  <div class="col l9 s12">
    <div class="card">
      <div class="card-metrics">
        <div class="card-metric waves-effect active">
          <div class="card-metric-title">
            Revenue
          </div>
          <div class="card-metric-value">
            $12,476.00
          </div>
        </div>
        <div class="card-metric waves-effect">
          <div class="card-metric-title">
            NADA
          </div>
          <div class="card-metric-value">
            21.4
          </div>
        </div>
        <div class="card-metric waves-effect ">
          <div class="card-metric-title">
            NADA
          </div>
          <div class="card-metric-value">
            21.4
          </div>
        </div>
      </div>
      <div class="card-content">
        <div style="width: 100%;height: 400px;"></div>
      </div>
    </div>
  </div>
  <div class="col l3 s12">
    OTRO REPORTE
  </div>
</div>
