<div class="row">
  <div class="col s12 m4" *ngFor="let servicioSolicitado of serviciosSolicitado">
    <div class="card horizontal hoverable">
      <div class="card-image">
        <img class="materialboxed" src="../../../../../assets/UsuarioDefecto/user-defect.jpg"
          [attr.data-caption]="servicioSolicitado.alumno.persona.nombre" alt="" srcset="">
        <div class="estado position_absolute top_0  left_0">
          <span class="chip blue white-text">Ingresante</span>
        </div>
        <div class="facultad position_absolute bottom_0 left_0 with_100 fondo-ocda center-align white-text truncate">
          {{servicioSolicitado.alumno.escuela_profesional.nombre}}
        </div>
      </div>
      <div class="card-stacked">
        <div class="card-content no-padding position_relative">
          <div class="display_inline_block padding_2rem with_100 right-align">
            <i class="fas padding_2rem  {{servicio.icono}}" *ngFor="let servicio of servicioSolicitado.servicios"
              [matTooltip]="servicio.nombre"></i>
            <i class="material-icons tiny" [style.color]="servicioSolicitado.estado_servicio.color"
              [matTooltip]="servicioSolicitado.estado_servicio.nombre">
              flag
            </i>
          </div>
          <div class="display_inline_block hide-on-med-and-down">
            <p class="truncate">
              {{servicioSolicitado.alumno.persona.nombre_completo}}</p>
            <p class="truncate">{{servicioSolicitado.alumno.persona.numero_documento}}</p>
          </div>

        </div>
        <div class="card-action right-align">
          <a href="#" matTooltip="Ver Archivos" class="tooltipped"><i class="materials-icon brown-text fas fa-archive">
            </i></a>

          <a href="#" matTooltip="Observaciones" class="tooltipped"><i
              class="materials-icon fas fa-exclamation-circle blue-text">
            </i></a>
          <a href="#" matTooltip="Denegar el servicio" class="tooltipped"><i
              class="materials-icon fas fa-trash-alt red-text">
            </i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
<template #preload>
  <mat-spinner></mat-spinner>
</template>