<div class="row">
  <div class="container">
    <div class="col s12">
      <div class="row">
        <div class="col s12 m6">
          <mat-form-field class="with_100">
            <input type="search" matInput placeholder="Buscar">
            <mat-icon matPrefix>account_circle</mat-icon>
          </mat-form-field>
        </div>
        <div class="col s12 m6 right-align">
          <i class="material-icons medium ">notifications</i>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="card horizontal">
      <div class="card-image">
        <img class="materialboxed" src="../../../../../assets/UsuarioDefecto/user-defect.jpg"
          data-caption="ANTONY INGA ATUNGA" alt="" srcset="">
        <div class="estado position_absolute top_0  left_0">
          <span class="chip blue white-text">Ingresante</span>
        </div>
        <div class="facultad position_absolute bottom_0 left_0 with_100 fondo-ocda center-align white-text truncate">
          INGRE.SISTEMASD
        </div>
      </div>
      <div class="card-stacked">
        <div class="card-content no-padding">
          <div class="row">
            <div class="col s12 m6 hide-on-med-and-down">
              <p class="truncate">ANTONY INGA ATUNGA</p>
              <p class="truncate">71837677</p>
            </div>
            <div class="col s12 m6">
              <span class="chip green white-text">Comedor</span>
              <span class="chip blue white-text">Internado</span>
            </div>
          </div>
        </div>
        <div class="card-action right-align">
          <a href="#" data-position="bottom" data-tooltip="Ver Archivos" class="tooltipped"><i
              class="materials-icon brown-text fas fa-archive">
            </i></a>

          <a href="#" data-position="bottom" data-tooltip="Observaciones" class="tooltipped"><i
              class="materials-icon fas fa-exclamation-circle blue-text">
            </i></a>
          <a href="#" data-position="bottom" data-tooltip="Denegar el servicio" class="tooltipped"><i
              class="materials-icon fas fa-trash-alt red-text">
            </i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card horizontal hoverable">
      <div class="card-image">
        <img class="materialboxed" data-caption="ANTONY INGA ATUNGA"
          src="../../../../../assets/UsuarioDefecto/user-defect.jpg" alt="" srcset="">
        <div class="estado position_absolute top_0  left_0">
          <span class="chip blue white-text">Ingresante</span>
        </div>
        <div class="facultad position_absolute bottom_0 left_0 with_100 fondo-ocda center-align white-text truncate">
          INGRE.SISTEMASD
        </div>
      </div>
      <div class="card-stacked">
        <div class="card-content no-padding">
          <div class="row">
            <div class="col s12 m6 hide-on-med-and-down">
              <p class="truncate">ANTONY INGA ATUNGA</p>
              <p class="truncate">71837677</p>
            </div>
            <div class="col s12 m6">
              <span class="chip green white-text">Comedor</span>
              <span class="chip blue white-text">Internado</span>

            </div>
            <div class="col s12 m9 pus-m2">
              <mat-checkbox class="truncate">Entrevista</mat-checkbox>
            </div>
          </div>
        </div>
        <div class="card-action  right-align">
          <a href="#" data-position="bottom" data-tooltip="Ver Archivos" class="tooltipped"><i
              class="materials-icon brown-text fas fa-archive">
            </i></a>

          <a href="#" data-position="bottom" data-tooltip="Observaciones" class="tooltipped"><i
              class="materials-icon fas fa-exclamation-circle blue-text">
            </i></a>
          <a href="#" data-position="bottom" data-tooltip="Denegar el servicio" class="tooltipped"><i
              class="materials-icon fas fa-trash-alt red-text">
            </i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card horizontal hoverable  sticky-action">
      <div class="card-image">
        <img class="materialboxed" data-caption="ANTONY INGA ATUNGA"
          src="../../../../../assets/UsuarioDefecto/user-defect.jpg" alt="" srcset="">
        <div class="estado position_absolute top_0  left_0">
          <span class="chip blue white-text">Ingresante</span>
        </div>
        <div class="facultad position_absolute bottom_0 left_0 with_100 fondo-ocda center-align white-text truncate">
          INGRE.SISTEMASD
        </div>
      </div>
      <div class="card-stacked">
        <div class="card-content no-padding">
          <div class="row">
            <div class="col s12 m6 hide-on-med-and-down">
              <p class="truncate">ANTONY INGA ATUNGA</p>
              <p class="truncate">71837677</p>
            </div>
            <div class="col s12 m6">
              <span class="chip green white-text">Comedor</span>
              <span class="chip blue white-text">Internado</span>
            </div>
          </div>
        </div>

        <div class="card-action  right-align">
          <a href="#" data-position="bottom" data-tooltip="Ver Archivos" class="tooltipped"><i
              class="materials-icon brown-text fas fa-archive">
            </i></a>

          <a href="#" data-position="bottom" data-tooltip="Observaciones" class="tooltipped"><i
              class="materials-icon fas fa-exclamation-circle blue-text">
            </i></a>
          <a href="#" data-position="bottom" data-tooltip="Denegar el servicio" class="tooltipped"><i
              class="materials-icon fas fa-trash-alt red-text">
            </i></a>
        </div>

      </div>

    </div>
  </div>
  <div class="col s12 m4">
    <div class="card horizontal hoverable">
      <div class="card-image">
        <img class="materialboxed" data-caption="ANTONY INGA ATUNGA"
          src="../../../../../assets/UsuarioDefecto/user-defect.jpg" alt="" srcset="">
        <div class="estado position_absolute top_0  left_0">
          <span class="chip blue white-text">Ingresante</span>
        </div>
        <div class="facultad position_absolute bottom_0 left_0 with_100 fondo-ocda center-align white-text truncate">
          INGRE.SISTEMASD
        </div>
      </div>
      <div class="card-stacked">
        <div class="card-content no-padding">
          <div class="row">
            <div class="col s12 m6 hide-on-med-and-down">
              <p class="truncate">ANTONY INGA ATUNGA</p>
              <p class="truncate">71837677</p>
            </div>
            <div class="col s12 m6">
              <span class="chip green white-text">Comedor</span>
              <span class="chip blue white-text">Internado</span>
            </div>
          </div>
        </div>
        <div class="card-action  right-align">
          <a href="#" data-position="bottom" data-tooltip="Ver Archivos" class="tooltipped"><i
              class="materials-icon brown-text fas fa-archive">
            </i></a>

          <a href="#" data-position="bottom" data-tooltip="Observaciones" class="tooltipped"><i
              class="materials-icon fas fa-exclamation-circle blue-text">
            </i></a>
          <a href="#" data-position="bottom" data-tooltip="Denegar el servicio" class="tooltipped"><i
              class="materials-icon fas fa-trash-alt red-text">
            </i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card horizontal hoverable">
      <div class="card-image position_relative">
        <img class="materialboxed" data-caption="ANTONY INGA ATUNGA"
          src="../../../../../assets/UsuarioDefecto/user-defect.jpg" alt="" srcset="">
        <div class="estado position_absolute top_0  left_0">
          <span class="chip blue white-text">Ingresante</span>
        </div>
        <div class="facultad position_absolute bottom_0 left_0 with_100 fondo-ocda center-align white-text truncate">
          INGRE.SISTEMASD
        </div>
      </div>
      <div class="card-stacked">
        <div class="card-content no-padding">
          <div class="row">
            <div class="col s12 m6 hide-on-med-and-down">
              <p class="truncate">ANTONY INGA ATUNGA</p>
              <p class="truncate">71837677</p>
            </div>
            <div class="col s12 m6">
              <span class="chip green white-text">Comedor</span>
              <span class="chip blue white-text">Internado</span>
            </div>
          </div>
        </div>
        <div class="card-action  right-align">
          <a href="#" data-position="bottom" data-tooltip="Ver Archivos" class="tooltipped"><i
              class="materials-icon brown-text fas fa-archive">
            </i></a>

          <a href="#" data-position="bottom" data-tooltip="Observaciones" class="tooltipped"><i
              class="materials-icon fas fa-exclamation-circle blue-text">
            </i></a>
          <a href="#" data-position="bottom" data-tooltip="Denegar el servicio" class="tooltipped"><i
              class="materials-icon fas fa-trash-alt red-text">
            </i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>

<template #navegacion>
  <div>HOLA</div>
</template>
