
.example-container {
    height: 400px;
    overflow: auto;
  }
  table {
    width: 100%;
  }

  // .pisition_father{
  //   position: relative;
  
  // }

 .pisition{
   position: relative;
   top: 0%;
   bottom: 7px;
   left: 0%;
   right: 0%;
 }

