.bottom_margin{
    margin: 2px;
}

.div_child {
    padding: 10px;
}

.line_vertical{
 width: 2px;
 height: 180px;
 background-color: #26a69a;
 position: relative;
 left:630px;
 top:30px;
//  border:4px dashed #d4d4d4  ;
// box-shadow: 0px 2px 5px #c0c0c0; 
}

.padding_top{
    padding-top: 20px;
}

.margin_estudiosSuperiores{
 margin: 20px;
}
