<div class="row">
  <div class="dvContentTitMod col s12 truncate center-align">
    <span class="tituloModalG">REGISTRO DE </span>
    <span class="tituloModalM ">DIRECCION DE BIENESTAR UNIVERSITARIO,CULTURA Y DEPORTE.</span>
  </div>
</div>
<mat-divider></mat-divider>
<template #navegacion>
  <li>
    <div class="collapsible-header"><i class="material-icons">airplay</i>Principal</div>
    <ul class="collapsible-body" data-collapsible="accordion">
      <li class="bold">
        <a href="#!" class="waves-effect waves-cyan">
          <i class="material-icons">add</i>
          <span class="nav-text">Principal</span>
        </a>
      </li>
      <li class="bold">
        <a href="#!" class="waves-effect waves-cyan">
          <i class="material-icons">cast</i>
          <span class="nav-text">Cards</span>
        </a>
      </li>
      <li class="bold">
        <a href="#!" class="waves-effect waves-cyan">
          <i class="material-icons">insert_link</i>
          <span class="nav-text">Buttons</span>
        </a>
      </li>
    </ul>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">folder_shared</i>Second</div>
    <ul class="collapsible-body" data-collapsible="accordion">
      <li class="bold">
        <a href="#!" class="waves-effect waves-cyan">
          <i class="material-icons">add</i>
          <span class="nav-text">Principal</span>
        </a>
      </li>
      <li class="bold">
        <a href="#!" class="waves-effect waves-cyan">
          <i class="material-icons">cast</i>
          <span class="nav-text">Cards</span>
        </a>
      </li>
      <li class="bold">
        <a href="#!" class="waves-effect waves-cyan">
          <i class="material-icons">insert_link</i>
          <span class="nav-text">Buttons</span>
        </a>
      </li>
    </ul>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
    <ul class="collapsible-body" data-collapsible="accordion">
      <li class="bold">
        <a href="#!" class="waves-effect waves-cyan">
          <i class="material-icons">add</i>
          <span class="nav-text">Principal</span>
        </a>
      </li>
      <li class="bold">
        <a href="#!" class="waves-effect waves-cyan">
          <i class="material-icons">cast</i>
          <span class="nav-text">Cards</span>
        </a>
      </li>
      <li class="bold">
        <a href="#!" class="waves-effect waves-cyan">
          <i class="material-icons">insert_link</i>
          <span class="nav-text">Buttons</span>
        </a>
      </li>
    </ul>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">date_range</i>Third</div>
    <ul class="collapsible-body" data-collapsible="accordion">
      <li class="bold">
        <a href="#!" class="waves-effect waves-cyan">
          <i class="material-icons">add</i>
          <span class="nav-text">Principal</span>
        </a>
      </li>
      <li class="bold">
        <a href="#!" class="waves-effect waves-cyan">
          <i class="material-icons">cast</i>
          <span class="nav-text">Cards</span>
        </a>
      </li>
      <li class="bold">
        <a href="#!" class="waves-effect waves-cyan">
          <i class="material-icons">insert_link</i>
          <span class="nav-text">Buttons</span>
        </a>
      </li>
    </ul>
  </li>
</template>
<router-outlet></router-outlet>