.card_priorizado {
  width: 30px;
  height: 30px;
  background-color: blue;
}
.card-action {
  a:not(:last-child) {
    margin-right: 10px;
  }
}
.content_100 {
  display: inline-block;
  width: 25px !important;
}
.card {
  overflow: visible !important;
}
