<block-ui>
  <h2 class="center-align">LISTA DE SERVICIOS </h2>
  <div class="row">
    <div class="col s12 m5  ">
      <div class="solicitar card-panel  fondo-ocda">
        <div class="header white-text">
          <div class="title">
            <h4 class="center-align">Servicios Solicitados</h4>
          </div>
          <div class="padding_2rem right-align ">
            <a matTooltip="Nueva solicitud" class="btn-floating z-depth-3 btn-large waves-effect waves-light blue"
              [ngClass]="{disabled:servicioSolicitadoActualPorAlumnoYSemestreActual}"
              (click)="verificarExistenciaDeServicioSolicitado(idModalServicio)">
              <i class="material-icons">add</i>
            </a>
          </div>
        </div>
        <div class="divider"></div>
        <div class="card-stacked">
          <div class="card-content">
            <div class="row">
              <div class="col s12">
                <div class="card hoverable" *ngIf="servicioSolicitadoActualPorAlumnoYSemestreActual">
                  <div class="card-title">
                    <h5 class="padding_4">
                      {{servicioSolicitadoActualPorAlumnoYSemestreActual.codigoMatricula}}
                    </h5>
                    <div class="position_absolute padding_4 right_0 top_0">
                      <div class="chip" [matTooltip]="servicio.nombre"
                        *ngFor="let servicio of  servicioSolicitadoActualPorAlumnoYSemestreActual.servicios">
                        <i class="fas {{servicio.icono}}"></i>
                      </div>
                      <div class="chip white-text indigo  lighten-1"
                        matTooltip="estado actual de los servicios solicitados">
                        {{this.servicioSolicitadoActualPorAlumnoYSemestreActual.estado_servicio.nombre}}
                      </div>
                    </div>
                  </div>
                  <div class="card-content position_relative">
                    {{servicioSolicitadoActualPorAlumnoYSemestreActual.fechaRegistro}}
                  </div>
                  <div class="card-action right-align">
                    <a matTooltip="Requisitos"
                      (click)="listaRequisitosPorAlumnoYSemestre(servicioSolicitadoActualPorAlumnoYSemestreActual)"
                      class="btn-floating btn-small waves-effect fondo-ocda"><i class="material-icons">
                        description
                      </i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m7">
      <div class="row">
        <div class="col s12">
          <h4 class="center-align">Solicitudes Realizadas</h4>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card hoverable">
          wdwidjwijdi
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card hoverable">
          wdwidjwijdi
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card hoverable">
          wdwidjwijdi
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card hoverable">
          wdwidjwijdi
        </div>
      </div>
    </div>
  </div>
  <div [id]="idModalServicio" class="modal modal-fixed-footer  overflow_x_hidde">
    <div class="modal-content overflow_x_hidde">
      <div class="row">
        <h4 class="col s12 m6">Elige el servicio</h4>
        <mat-form-field class="col s12 m6">
          <mat-select placeholder="Servicios" multiple [formControl]="formControlListaServicio"
            (selectionChange)="changeSelectListaServicios($event)">
            <mat-option [value]="servicio.id" *ngFor="let servicio of listaServiciosActivados">
              {{servicio.nombre}}
              <i class="fas  {{servicio.icono}} "></i>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-vertical-stepper #stepper>
        <span *ngIf="listaRequisitosPorServicio">{{listaRequisitosPorServicio.length}}</span>
        <mat-step #matStep [stepControl]="formFile" [matTooltip]="requisito.nombre" class="position_relative"
          [optional]="!requisito.requerido" *ngFor="let requisito of listaRequisitosPorServicio">
          <ng-template matStepLabel>{{requisito.nombre | titlecase}}</ng-template>
          <a #boton matTooltip="Registar Requisito" [ngClass]="{'disabled': !formFile.valid}"
            (click)="subirImagenFileWithPreview(requisito.id,requisito.tipoArchivo,requisito.nombreArchivo,requisito,stepper,matStep,boton)"
            class="btn-floating btn-small waves-effect waves-light red  position_absolute right_0 top_0"
            style="z-index: 100"><i class="material-icons">cloud_upload</i></a>
          <div class="card" [matTooltip]="requisito.descripcion">
            <div class="card-content truncate ">
              {{requisito.descripcion}}
            </div>
          </div>
          <!-- <dropzone [message]="'Arrastar o hacer click'" (sending)="onSending($event,requisito.id)"
            #drpzone="ngxDropzone" (success)="onUploadSuccess($event)" class="dropzone-container">
          </dropzone>-->
          <form #formFile="ngForm">
            <div class="custom-file-container" [attr.data-upload-id]="requisito.id">
              <label>Archivos: <a href="javascript:void(0)" class="custom-file-container__image-clear  red-text"
                  title="Clear Image"><i class="material-icons">cancel</i></a></label>
              <label class="custom-file-container__custom-file">
                <input type="file" class="custom-file-container__custom-file__custom-file-input"
                  [accept]="requisito.tipoArchivo" name="file" ngModel required multiple aria-label="Subir Archivos"
                  (click)="crearInstanciaFileWithPreview(requisito.id)">
                <input type="hidden" name="MAX_FILE_SIZE" value="12485760" />
                <span class="custom-file-container__custom-file__custom-file-control"></span>
              </label>
              <div class="custom-file-container__image-preview"></div>
            </div>
          </form>
        </mat-step>
      </mat-vertical-stepper>
    </div>
    <div class="modal-footer">
      <a class="waves-effect btn  waves-light red" (click)="cerrarModal(idModalServicio)"><i
          class="material-icons">close</i></a>
      <a class="waves-effect btn waves-light fondo-ocda" matTooltip="Registrar sevicios para su revision"
        [ngClass]="{disabled:!stepper.completed}" (click)="registrarServiciosParaEvaluacion()"><i
          class="material-icons">send</i></a>
    </div>

  </div>
  <div [id]="modalListaRequisitoAlumno" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4 class="center-align">Requisitos Registrado</h4>
      <div class="row">
        <div class="col s12 m6" *ngFor="let alumnoRequisito of  listaAlumnoRequisitoPorALumnoYSemestre ">
          <div class="card">
            <div class="card-title center-align" [matTooltip]="alumnoRequisito.requisito.nombre">
              {{alumnoRequisito.requisito.nombre}}
            </div>
            <div class="card-content">
              <div class="row">
                <div class="col s12 m6" *ngFor="let archivo of alumnoRequisito.archivos">
                  <div class="card position_relative card_animation">
                    <div class="card-stacked">
                      <div class="card-content">
                        <i [matTooltip]="archivo.estadoActual.nombre" class="material-icons"
                          [ngStyle]="{'color':archivo.estadoActual.color}">
                          flag
                        </i>
                        <img src="../../../../../assets/imagenArchivos/archivo.png" alt="" class="responsive-img">
                      </div>
                      <div class="card-action-float position_absolute">
                        <div class="buttons button_card_float position_absolute">
                          <a class="btn btn-small  btn-floating">
                            <i class="material-icons">
                              visibility
                            </i>
                          </a><a class="btn btn-small blue darken-4  btn-floating"
                            *ngIf="archivo.estadoActual.nombre=='OBSERVADO'" #anchor
                            (click)="modalResubirArchivo(archivo,kendo)">
                            <i class="material-icons">
                              settings_backup_restore
                            </i>
                          </a>
                          <kendo-popup *ngIf="showPopup" #kendo [anchor]="anchor" [offset]="{ left: 100, top: 100 }">
                            <div class="custom-file-container" data-upload-id="subirArchivo">
                              <label>Archivos: <a href="javascript:void(0)"
                                  class="custom-file-container__image-clear  red-text" title="Clear Image"><i
                                    class="material-icons">cancel</i></a></label>
                              <label class="custom-file-container__custom-file">
                                <input type="file" class="custom-file-container__custom-file__custom-file-input"
                                  name="file" required aria-label="Subir Archivos">
                                <input type="hidden" name="MAX_FILE_SIZE" value="12485760" />
                                <span class="custom-file-container__custom-file__custom-file-control"></span>
                              </label>
                              <div class="custom-file-container__image-preview"></div>
                            </div>
                          </kendo-popup>
                        </div>
                        <div class="background-shadow">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-action">
              <a class="btn btn-small btn-floating waves-effect waves-light"><i
                  class="material-icons">file_upload</i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a (click)="cerrarModal(modalListaRequisitoAlumno)"
        class="modal-close waves-effect waves-light red btn-flat">cerrar</a>
    </div>
  </div>


</block-ui>