<h2 class="center-align">LISTA DE SERVICIOS </h2>
<div class="row">
  <div class="col s12 m5  ">
    <div class="solicitar card-panel  fondo-ocda">
      <div class="header white-text">
        <div class="title">
          <h4 class="center-align">Servicios Solicitados</h4>
        </div>
        <div class="padding_2rem right-align ">
          <a class="btn-floating z-depth-3 btn-large waves-effect waves-light blue">
            <i class="material-icons">add</i>
          </a>
        </div>
      </div>
      <div class="divider"></div>
      <div class="card-stacked">
        <div class="card-content">
          <div class="row">
            <div class="col s12">
              <div class="card hoverable">
                wdwidjwijdi
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
  <div class="col s12 m7">
    <div class="row">
      <div class="col s12">
        <h4 class="center-align">Solicitudes Realizadas</h4>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card hoverable">
        wdwidjwijdi
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card hoverable">
        wdwidjwijdi
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card hoverable">
        wdwidjwijdi
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card hoverable">
        wdwidjwijdi
      </div>
    </div>
  </div>
</div>
