<block-ui>
  <div class="row">
    <div class="col s12 ">
      <div class="row">
        <div class="col s6 m6 push-m3 push-s3 center-align">
          <a class="waves-effect  btn-floating btn-large blue "
            (click)="nuevoRequisito();listarTipoRequisito('modal1')">
            <i class="material-icons">add</i>
          </a>
        </div>
      </div>
    </div>
    <div class="col s12 m4" *ngFor="let requisito of listaRequisito$ | async;let i=index">
      <div class="card hoverable position_relative ">
        <div class="position_absolute icons top_0 left_0">
          <i class="fas fa-asterisk red-text lighten-1 red-text margin_icons lighten-1" *ngIf="requisito.requerido"></i>
          <i class=" fas   {{requisito.tipo.icono}} tooltipped margin_icons" data-position="bottom"
            [attr.data-tooltip]="requisito.tipo.nombre"></i>
        </div>
        <div class="dmm_ribbon position_absolute top_0 right_0" *ngIf="requisito.prioridad==1">
          <span class="dmm_rbcnt">
          </span>
        </div>
        <div class="card-stacked">
          <div class="card-action  position_relative center-align">
            <span class="card-title truncate">{{requisito.nombre}}</span>
          </div>
          <div class="divider"></div>
          <div class="card-content ">
            {{requisito.descripcion}}
          </div>
          <div class="card-action right-align">
            <a href="#" data-position="bottom" data-tooltip="Ver Archivos" class="tooltipped"><i
                class="materials-icon brown-text fas fa-archive cursor">
              </i></a>

            <a (click)="setRequisito(requisito);editarRequisito();abrirModal(idModalRegistroRequisito)"
              data-position="bottom" data-tooltip="Editar" class="tooltipped"><i
                class="materials-icon fas fa-edit  blue-text cursor">
              </i></a>
            <a (click)="setRequisito(requisito);eliminarRequisito()" data-position="bottom" data-tooltip="Eliminar"
              class="tooltipped"><i class="materials-icon fas fa-trash-alt red-text cursor">
              </i></a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--Modal de Registro de requisito-->
  <div [id]="idModalRegistroRequisito" class="modal modal-fixed-footer  overflow_x_hidde">
    <form [formGroup]="formularioRequisito" (submit)="guardarYEditarRequisito(formularioRequisito.value)"
      class="col s12">
      <div class="modal-content overflow_x_hidde">
        <h4 class="center-align">Nuevo Requisito</h4>
        <input type="hidden" formControlName="id">
        <div class="row">
          <mat-form-field class="col s12">
            <input matInput placeholder="requisito" formControlName="nombre">
          </mat-form-field>
          <mat-form-field class="col s12">
            <textarea matInput placeholder="Descripcion" formControlName="descripcion"></textarea>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col s6">
            <select matNativeControl placeholder="restriccion" formControlName="requerido"
              [compareWith]="compareString">
              <option value="true">Requerido</option>
              <option value="false">Opcional</option>
            </select>
          </mat-form-field>
          <mat-form-field class="col s6">
            <select matNativeControl placeholder="Tipo Archivo" formControlName="tipoArchivo"
              [compareWith]="compareString">
              <option value="JPG">Imagen</option>
              <option value="Archivo">Arhivos</option>
            </select>
          </mat-form-field>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="custom-file-container" data-upload-id="fileRequisito">
              <label>Archivos: <a href="javascript:void(0)" class="custom-file-container__image-clear  red-text"
                  title="Clear Image"><i class="material-icons">cancel</i></a></label>
              <label class="custom-file-container__custom-file">
                <input type="file" class="custom-file-container__custom-file__custom-file-input" accept="*" multiple
                  aria-label="Subir Archivos">
                <input type="hidden" name="MAX_FILE_SIZE" value="10485760" />
                <span class="custom-file-container__custom-file__custom-file-control"></span>
              </label>
              <div class="custom-file-container__image-preview"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <mat-form-field>
              <mat-label>Se Aplica a:</mat-label>
              <select matNativeControl formControlName="tipo" [compareWith]="compareObjeto">
                <option [ngValue]="tipo" *ngFor="let tipo of (listaTipoRequisito$ | async)">{{tipo.nombre}}</option>
              </select>
            </mat-form-field>
          </div>
          <div class="col s6">
            <mat-form-field>
              <mat-label>Prioridad</mat-label>
              <select matNativeControl formControlName="prioridad" [compareWith]="compareString">
                <option value=1>Alta</option>
                <option value=0>Normal</option>
              </select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a (click)="closeModal('modal1')" class="waves-effect btn  waves-light red">Cancelar</a>
        <button class="waves-effect btn waves-light green" type="submit"
          [disabled]="!formularioRequisito.valid">Guardar</button>
      </div>
    </form>
  </div>
  <!--Fin Modal de Registro de requisito-->

</block-ui>

<ng-template #templateFotos let-arrayFotos="fotos">
  <article class="message is-info">
    <div class="message-header">
      <p>Lista de Fotos</p>
    </div>
    <div class="message-body">
      <div class="display_flex">
        <figure class="image is-128x128 " *ngFor="let foto of (arrayFotos) | async;let i=index">
          <div class="display_flex position_absolute right padding_2">
            <a class="delete" (click)="deleteImagenIncidencia(foto)" aria-label="delete"></a>
            <a>
              <i class="fas fa-download"></i>
            </a>
          </div>
          <img [src]="foto.url" class="materialboxed" [alt]="foto.name">
        </figure>
      </div>
    </div>
  </article>
</ng-template>
