<block-ui>
  <div class="row">
    <div class="col s12 ">
      <div class="row">
        <div class="col s12  center-align">
          <a class="waves-effect  btn-floating btn-large blue "
            (click)="nuevoRequisito();abrirModal(idModalRegistroRequisito)">
            <i class="material-icons">add</i>
          </a>
        </div>
      </div>
    </div>
    <div class="col s12 m4" *ngFor="let requisito of listaRequisito$ | async;let i=index">
      <div class="card hoverable position_relative ">
        <div class="fixed_action_btn_customize position_absolute left_0 top_0" id="floating">
          <a class=" waves-effect z-depth-2 waves-light btn-small blue darken-2  btn-floating btn_triger"
            (click)="activarFloating(ulButtons)">
            <i class=" material-icons ">info_outline</i>
          </a>
          <ul class="buttons" #ulButtons>
            <li *ngIf="requisito.requerido"><a class="btn-floating btn-small red"><i
                  class="fas fa-asterisk  lighten-1"></i></a>
            </li>
            <li *ngFor="let tipo of requisito.tipos"><a class="btn-floating btn-small yellow darken-1"><i
                  class=" fas  {{tipo.icono}}  tooltipped" data-position="bottom"
                  [attr.data-tooltip]="tipo.nombre"></i></a></li>
            <li *ngFor="let servicio of requisito.servicios"><a class="btn-floating btn-small green"><i
                  class=" fas  {{servicio.icono}}  tooltipped" data-position="bottom"></i></a></li>
          </ul>
        </div>
        <div class="dmm_ribbon position_absolute top_0 right_0" *ngIf="requisito.prioridad==1">
          <span class="dmm_rbcnt">
          </span>
        </div>
        <div class="card-stacked">
          <div class="card-action  position_relative center-align">
            <span class="card-title truncate">{{requisito.nombre}}</span>
          </div>
          <div class="divider"></div>
          <div class="card-content ">
            {{requisito.descripcion}}
          </div>
          <div class="card-action right-align">
            <a href="#" data-position="bottom" data-tooltip="Ver Archivos" class="tooltipped"><i
                class="materials-icon brown-text fas fa-archive cursor">
              </i></a>
            <a (click)="setRequisito(requisito);visualizarRequisito()" data-position="bottom" data-tooltip="Eliminar"
              class="tooltipped"><i class="materials-icon fas fa-eye blue-text cursor">
              </i></a>
            <a (click)="setRequisito(requisito);mostrarDatosFormularioRequisito();enabledFormularioRequisito();abrirModal(idModalRegistroRequisito)"
              data-position="bottom" data-tooltip="Editar" class="tooltipped"><i
                class="materials-icon fas fa-edit  blue-text cursor">
              </i></a>
            <a (click)="setRequisito(requisito);eliminarRequisito()" data-position="bottom" data-tooltip="Eliminar"
              class="tooltipped"><i class="materials-icon fas fa-trash-alt red-text cursor">
              </i></a>

          </div>
        </div>
      </div>
    </div>
  </div>


  <!--Modal de Registro de requisito-->
  <div [id]="idModalRegistroRequisito" class="modal modal-fixed-footer  overflow_x_hidde">
    <form [formGroup]="formularioRequisito" (submit)="guardarYEditarRequisito(formularioRequisito.value)"
      class="col s12">
      <div class="modal-content overflow_x_hidde">
        <h4 class="center-align">Nuevo Requisito</h4>
        <input type="hidden" formControlName="id">
        <div class="row">
          <mat-form-field class="col s12">
            <input matInput placeholder="requisito" formControlName="nombre">
          </mat-form-field>
          <mat-form-field class="col s12">
            <textarea matInput placeholder="Descripcion" formControlName="descripcion"></textarea>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col s6">
            <mat-select placeholder="restriccion" formControlName="requerido" [compareWith]="compareString">
              <mat-option value="true">Requerido</mat-option>
              <mat-option value="false">Opcional</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col s6">
            <mat-select placeholder="Tipo Archivo" formControlName="tipoArchivo" [compareWith]="compareString">
              <mat-option value="JPG">Imagen</mat-option>
              <mat-option value="Archivo">Arhivos</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="custom-file-container" data-upload-id="fileRequisito">
              <label>Archivos: <a href="javascript:void(0)" class="custom-file-container__image-clear  red-text"
                  title="Clear Image"><i class="material-icons">cancel</i></a></label>
              <label class="custom-file-container__custom-file">
                <input type="file" class="custom-file-container__custom-file__custom-file-input" accept="*" multiple
                  aria-label="Subir Archivos">
                <input type="hidden" name="MAX_FILE_SIZE" value="10485760" />
                <span class="custom-file-container__custom-file__custom-file-control"></span>
              </label>
              <div class="custom-file-container__image-preview"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <mat-form-field class="col s12 m6">
            <mat-select placeholder="Aplica a:" class="filter-select" multiple formControlName="tipos">
              <mat-option (onSelectionChange)="changeTipo($event)" *ngFor="let tipo of  listaTipoRequisito$ | async"
                [value]="tipo.id">
                {{tipo.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col s12 m6">
            <mat-select placeholder="prioridad" formControlName="prioridad" [compareWith]="compareString">
              <mat-option value=1>Alta</mat-option>
              <mat-option value=0>Normal</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col s12 m6">
            <mat-select placeholder="Servicios" multiple formControlName="servicios">
              <mat-option [value]="servicio.id" (onSelectionChange)="changeServicio($event)"
                *ngFor="let servicio of listaServicio$ | async">{{servicio.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col s12 m6">
            <mat-select placeholder="Tipo Peticion" formControlName="tipoPeticion">
              <mat-option value="anual">anual
              </mat-option>
              <mat-option value="normal">Normal
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="modal-footer">
        <a (click)="closeModal('modal1')" class="waves-effect btn  waves-light red">Cancelar</a>
        <button class="waves-effect btn waves-light green" type="submit"
          [disabled]="!formularioRequisito.valid">{{this.estadoActualizarResgitrarFormularion?'Editar':'Guardar'}}</button>
      </div>
    </form>
  </div>
  <!--Fin Modal de Registro de requisito-->
</block-ui>

<ng-template #templateFotos let-arrayFotos="fotos">
  <article class="message is-info">
    <div class="message-header">
      <p>Lista de Fotos</p>
    </div>
    <div class="message-body">
      <div class="display_flex">
        <figure class="image is-128x128 " *ngFor="let foto of (arrayFotos) | async;let i=index">
          <div class="display_flex position_absolute right padding_2">
            <a class="delete" (click)="deleteImagenIncidencia(foto)" aria-label="delete"></a>
            <a>
              <i class="fas fa-download"></i>
            </a>
          </div>
          <img [src]="foto.url" class="materialboxed" [alt]="foto.name">
        </figure>
      </div>
    </div>
  </article>
</ng-template>
