<div class="row">
  <!--
  <div class="col s12 ">
    <div class="row ">
        <h1></h1>
      <div class="col s12 m5 push-m3">
        <img src="../../assets/LogoSigau/logoPrincipal.png" class="responsive-img" alt="" srcset="">

      </div>
    </div>
    <div class="divider"></div>
  </div>
-->
  <div class="col s12 m4">
    <div class="card hoverable position_relative card_animation ">
      <div class="card-stacked">
        <div class="card-action center-align   login-screen1">
          <span class="card-title white-text">GRADOS Y TITULOS</span>
        </div>
        <div class="card-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, non dignissimos! Doloremque
          suscipit temporibus vero deserunt harum libero reiciendis cumque?
        </div>
        <div class="card-action-float position_absolute  ">
          <div class="buttons button_card_float position_absolute">
            <a [routerLink]="[ '../titulos','admin','principal']" class="btn btn-small  waves-effect blue darken-4">
              GO!</a>
          </div>
          <div class="background-shadow">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card hoverable position_relative card_animation ">
      <div class="card-stacked">
        <div class="card-action  center-align   login-screen2">
          <span class="card-title white-text">SCALAFOND</span>
        </div>
        <div class="card-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, non dignissimos! Doloremque
          suscipit temporibus vero deserunt harum libero reiciendis cumque?
        </div>
        <div class="card-action-float">
          <div class="buttons button_card_float position_absolute">
            <a class="btn btn-small waves-effect  blue darken-4 "> GO!</a>
          </div>
          <div class="background-shadow">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card hoverable position_relative card_animation ">
      <div class="card-stacked">
        <div class="card-action center-align login-screen3">
          <span class="card-title white-text">BIENESTAR</span>
        </div>
        <div class="card-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, non dignissimos! Doloremque
          suscipit temporibus vero deserunt harum libero reiciendis cumque?
        </div>
        <div class="card-action-float">
          <div class="buttons button_card_float position_absolute">
            <a [routerLink]="[ '../bienestar','admin','lista']"
              class="btn btn-small blue darken-4 waves-effect  ">Go!</a>
          </div>
          <div class="background-shadow">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card hoverable position_relative card_animation ">
      <div class="card-stacked">
        <div class="card-action center-align login-screen4">
          <span class="card-title white-text ">CONVENIOS Y BECAS</span>
        </div>
        <div class="card-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, non dignissimos! Doloremque
          suscipit temporibus vero deserunt harum libero reiciendis cumque?
        </div>
        <div class="card-action-float">
          <div class="buttons button_card_float position_absolute">
            <a class="btn btn-small  blue darken-4 "> GO!</a>
          </div>
          <div class="background-shadow">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>