<div class="row">
  <div class="col s12  ">
    <div class="row">
      <div><img src="../../../assets/FondoSigau/fondo_SIGAU_UNAS.png" width="100%"></div>
    </div>
    <div class="divider"></div>

    <div class="col s12 m3">
      <div class="card hoverable position_relative card_animation border_radius_card">
        <div class="card-stacked">
          <div class="card-action center-align   login-screen1">
            <span class="white-text">GRADOS Y TITULOS</span>
          </div>
          <div class="card-content">
            <div class="row">
              <div class="col s4 m4">
                <img src="../../../assets//iconos_principal/1.png" width="100%">
              </div>
              <div class="col s8 m8">
                <span class="orderLeft txtUpOps cu">MÓDULO</span>
                <span class="orderLeft txtDownOps cu">GRADOS Y TITULOS</span>
              </div>
            </div>

          </div>
          <div class="card-action-float position_absolute  ">
            <div class="buttons button_card_float position_absolute">
              <a [routerLink]="[ '../titulos','admin','principal']" class="btn btn-small  waves-effect blue darken-4">
                ENTRAR!</a>
            </div>
            <div class="background-shadow">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m3">
      <div class="card hoverable position_relative card_animation border_radius_card">
        <div class="card-stacked">
          <div class="card-action  center-align   login-screen2">
            <span class="white-text">SCALAFOND</span>
          </div>
          <div class="card-content">
            <div class="row">
              <div class="col s4 m4">
                <img src="../../../assets//iconos_principal/2.png" width="100%">
              </div>
              <div class="col s8 m8">
                <span class="orderLeft txtUpOps cu">MÓDULO</span>
                <span class="orderLeft txtDownOps cu">SCALAFOND</span>
              </div>
            </div>
          </div>
          <div class="card-action-float">
            <div class="buttons button_card_float position_absolute">
              <a class="btn btn-small waves-effect  blue darken-4 "> ENTRAR!</a>
            </div>
            <div class="background-shadow">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m3">
      <div class="card hoverable position_relative card_animation  border_radius_card">
        <div class="card-stacked">
          <div class="card-action center-align login-screen3">
            <span class="white-text">BIENESTAR</span>
          </div>
          <div class="card-content">
            <div class="row">
              <div class="col s4 m4">
                <img src="../../../assets//iconos_principal/3.png" width="100%">
              </div>
              <div class="col s8 m8">
                <span class="orderLeft txtUpOps cu">MÓDULO</span>
                <span class="orderLeft txtDownOps cu">BIENESTAR</span>
              </div>
            </div>
          </div>
          <div class="card-action-float">
            <div class="buttons button_card_float position_absolute">
              <a [routerLink]="[ '../bienestar','admin','lista']"
                class="btn btn-small blue darken-4 waves-effect  ">ENTRAR!</a>
            </div>
            <div class="background-shadow">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m3">
      <div class="card hoverable position_relative card_animation  border_radius_card">
        <div class="card-stacked">
          <div class="card-action center-align login-screen4">
            <span class="white-text ">CONVENIOS Y BECAS</span>
          </div>
          <div class="card-content">
            <div class="row">
              <div class="col s4 m4">
                <img src="../../../assets//iconos_principal/4.png" width="100%">
              </div>
              <div class="col s8 m8">
                <span class="orderLeft txtUpOps cu">MÚDULO</span>
                <span class="orderLeft txtDownOps cu">BECAS Y CONVENIOS</span>
              </div>
            </div>
          </div>
          <div class="card-action-float">
            <div class="buttons button_card_float position_absolute">
              <a class="btn btn-small  blue darken-4 "> ENTRAR!</a>
            </div>
            <div class="background-shadow">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="right-align" style="opacity: 0.75;">
  <div class="row">
    <div class="col s4 m7"></div>
    <div class="col s8 m5">
      <p class="footer__visa-text">Copyright
        <a href="https://www.unas.edu.pe/web/" target="_blank">UNAS</a> © 2019 Universidad Nacional Agraria de la
        Selva.</p>
    </div>
  </div>

</footer>