.tituloModalM {
    color: #01579b;
    padding: 1px;
    font-weight: bold;
    margin-top: 2px;
    width: max-content;
}
.putLeft {
    float: left !important;
    margin-block-start: 2%;
}

.dvContentTitMod {
    border-bottom: 2px solid #01579b;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: min-content;
}

.modalMargin{
    margin-top: 1%;
}

.textalinaer{
    text-align: justify;
}

.margen{
    margin-top: 3%;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
.btn-small{
    margin-left: 5px;
}